body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #313131;
}

.container {
    width: 100%;
    max-width: 375px;
    background-color: rgb(255, 255, 255);
    margin: 0px 30px;
}

@media (max-width: 430px) {
    .container {
        width: 100%;
        max-width: none;
    }
}

.heder {
display: flex;
background-color:#fffbf8;
}

.icon img {
    width: 30px;
    padding: 10px 10px;
}

.icon {
margin-left: 75px;
}

.logo img {
    width: 200px;
}

.logo2 img {
    width: 130px;
    margin: 15px 0px 0px 10px;
}

.logo {
        display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px;
}

/* 入力フォームのスタイリング */
input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #e1e8ed;
    border-radius: 20px;
    width: 100%;
}

.send  {
    background-color: #F6BC9A;
        color: rgb(255, 255, 255);
        width: 30%;
        font-size: 15px;
        margin: 10px;
        border: none;
}


.send:hover{
    background-color: #f6bc9a77;;
}
/* ボタンのスタイリング */
button {
    padding: 5px 20px;
        border: 1px solid #b4b4b4;
background-color: #f9f9f9;
    color: #313131;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}


button:hover {
background-color: rgb(238, 238, 238);
}


.nyuuryoku {
    display: flex;
        justify-content: center;
        align-items: center;
    flex-direction: column;
width: 80%;
}

.search_text {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
}

.search_text_group {

display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 }


.nyuuryoku_group {
        display: flex;
            justify-content: center;
            align-items: center;
}

/*名前時間*/
 .message-item {
    margin-bottom: 20px;
    list-style: none;
    /* border: solid 1px #9e9e9e; */
    background-color:#fffbf9;
    padding: 10px 20px 10px 20px;
    
} 

.stamp {
    text-align: center;
    display: flex;
    margin-bottom: 10px;
}



.message-header {
    font-weight: bold;color: #313131;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: small;
    text-align: center;
}

.formattedTime {
    font-weight: bold;
    color: #a9a9a9;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
}

.message-text {
    margin: 20px 0px 20px 0px;
    text-align: center;
}



.favorite-button.favorited {
    background-color:#F6BC9A;
    color: #ffffff;
}
.favorite-button.favorited:hover {
    background-color: #e4e4e4;
    color: #ffffff;
}

.gif {
    width: 150px;
    margin-right: 10px;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.ai {
position: relative;
background-color: #f4f4f4;
padding: 10px;
border-radius: 10px;
width: 150px;
height: 80px;
}


.ai::before {
content: '';
position: absolute;
top: 50%;
left: -15px;
margin-top: -10px;
border-width: 10px 15px 10px 0;
border-color: transparent #f4f4f4 transparent transparent;
border-style: solid;
}

.ichiran {
        display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 40px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 330px;
}

.close {
    text-align: center;
}

.stamp2 {
        background-color: #f9f9f9;
        color: #313131;
        border-radius: 20px;
        cursor: pointer;
        font-size: 12px;
        
}

.stamp2 span {
margin: 5px;
}

.img img{
    width: 200px;
}

.myid  {
        display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          font-size: 15px;
          margin-top: 10px;
}

.myidgroup {
   background-color: rgb(241, 241, 241);
   padding: 20px;
}

.iddayo {
    font-weight: 900;
    margin-top: -5px;
    
}

.followlist {
        font-weight: 900;
    font-size: 15px;
            display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;            
padding: 10px;


}


.followlist_group {
    background-color: #fffbf9;
    padding: 20px;
    border-top: 1px solid #cecece;
    /* 上の境界線 */
    border-bottom: 1px solid #cecece;
}

.tourokugroyp {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        padding: 30px; 
}

.group2 {
padding-bottom: 300px;
}

.page_title {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 25px;
        font-weight: 800;
        margin: 30px;
}

.touroku_email , .touroku_pass , .touroku_button {
text-align: center;
    margin-top: 15px;

}

.touroku_button button {

    margin-bottom: 100px;
  background-color: #F6BC9A;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-bottom: 30px;
  border: none;

  
  }


.touroku_button button:hover {
      background-color: #f6bc9a77;
      ;
  }

.tourokulink a {
    color: #313131;
    font-weight: 600;
    text-decoration: underline;
    font-size: 16px;
        display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px 0px -10px 0px;
}

.tourokulink a:hover {
    color: #f1945e;

}

.muryoudayo {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #575757;

    padding-bottom: 300px;
}

.ai_search {
    margin-top: 30px;
    position: relative;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
}

.ai_search::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    /* 下側に配置 */
    margin-left: -10px;
    /* 棘の幅の半分の値で調整 */
    border-width: 15px 10px 0 10px;
    /* 上向きの矢印を下向きに変更 */
    border-color: #f4f4f4 transparent transparent transparent;
    /* 上側の境界線に色を付ける */
    border-style: solid;
}

.ai_search_group {
        display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
}

.tell_list ul {
list-style-type: none;
text-align: center;
background-color: #f3f3f3;
padding: 20px;
}

.tell_list  {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
margin-bottom: 50px;
}

.matawa {
    font-size: 13px;
    margin-bottom: 5px;
}

.imgup input {
  font-size: 13px;
  margin-bottom: 10px;
}